*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#090909;
font-family:Arial,sans-serif;
color:white;
overflow-x:hidden;
}

.container{

min-height:100vh;

background:
radial-gradient(
circle at center,
rgba(229,9,20,.12),
transparent 50%
);

padding:70px 0;
}


/* HERO */

.hero{

display:flex;
flex-direction:column;
align-items:center;
gap:15px;

margin-bottom:70px;
}

.username{

font-size:22px;
color:#ddd;
}

.hero h1{

font-size:90px;
font-weight:900;

color:#E50914;

letter-spacing:-2px;

text-shadow:
0 2px 10px
rgba(229,9,20,.25);
}

.subtitle{

font-size:28px;
color:#aaa;

margin-bottom:40px;
}

.searchContainer{

display:flex;
gap:20px;
}

.searchContainer input{

width:650px;
height:70px;

border:none;
outline:none;

padding-left:30px;

border-radius:40px;

background:#252525;

color:white;

font-size:24px;
}

.searchContainer button{

width:170px;
height:70px;

border:none;

border-radius:40px;

background:#E50914;

color:white;

font-size:24px;

font-weight:bold;

cursor:pointer;

transition:.3s;
}

.searchContainer button:hover{

background:#f40612;

transform:scale(1.05);
}


/* TITLES */

.sectionTitle{

font-size:45px;

text-align:center;

margin:50px 0;

font-weight:bold;
}


/* FEATURED MOVIE */

.featuredSection{

display:flex;

justify-content:center;

margin-bottom:80px;
}

.featuredCard{

width:300px;

background:#181818;

border-radius:20px;

overflow:hidden;

cursor:pointer;

border:2px solid #E50914;

transition:.4s;

box-shadow:
0 0 15px rgba(229,9,20,.2);
}

.featuredCard:hover{

transform:scale(1.05);
}

.featuredCard img{

width:100%;

height:420px;

object-fit:cover;
}


/* MOVIES */

.movies{

display:grid;

grid-template-columns:
repeat(4,1fr);

gap:35px;

max-width:1200px;

margin:auto;

padding-bottom:80px;
}

.movieCard{

background:#181818;

border-radius:15px;

overflow:hidden;

cursor:pointer;

transition:.4s;
}

.movieCard:hover{

transform:
translateY(-10px);

box-shadow:
0 0 20px rgba(229,9,20,.25);
}

.movieCard img{

width:100%;

height:330px;

object-fit:cover;
}

.movieInfo{

padding:15px;

text-align:center;
}

.movieInfo h3{

font-size:18px;

margin-bottom:10px;

min-height:50px;
}

.movieInfo p{

font-size:22px;

color:#ffd700;
}


/* EMPTY */

.emptyMessage{

text-align:center;

margin-top:100px;
}

.emptyMessage h2{

font-size:40px;
margin-bottom:15px;
}

.emptyMessage p{

font-size:22px;
color:#aaa;
}


/* MODAL */

.modalOverlay{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:
rgba(0,0,0,.92);

display:flex;

justify-content:center;
align-items:center;

z-index:999;
}

.movieModal{

width:650px;

max-height:90vh;

overflow-y:auto;

background:
linear-gradient(
180deg,
#1b1b1b,
#121212
);

padding:35px;

border-radius:25px;

position:relative;

text-align:center;

border:1px solid rgba(255,255,255,.08);

box-shadow:
0 0 25px rgba(229,9,20,.25);
}

.movieModal img{

width:260px;

border-radius:15px;

margin:20px 0;

box-shadow:
0 8px 20px rgba(0,0,0,.6);
}

.movieModal h2{

margin-bottom:20px;

font-size:38px;
}

.movieModal p{

margin:15px 0;

font-size:20px;
}


/* DESCRIPTION */

.overviewTitle{

margin-top:40px;

font-size:28px;

color:#E50914;
}

.overviewTitle:after{

content:"";

display:block;

width:80px;
height:4px;

margin:12px auto;

background:#E50914;

border-radius:50px;
}

.overview{

margin-top:30px;

padding:25px;

background:#1e1e1e;

border-left:5px solid #E50914;

border-radius:15px;

line-height:1.9;

text-align:left;

color:#d2d2d2;

font-size:18px;

box-shadow:
0 0 15px rgba(229,9,20,.1);
}


/* BACK */

.backBtn{

position:absolute;

top:20px;
left:20px;

padding:10px 18px;

border:none;

border-radius:10px;

background:#E50914;

color:white;

font-size:16px;

cursor:pointer;
}

.backBtn:hover{

background:#f40612;
}


/* RESPONSIVE */

@media(max-width:1000px){

.movies{

grid-template-columns:
repeat(2,1fr);
}

.searchContainer input{

width:400px;
}

.hero h1{

font-size:65px;
}

}

@media(max-width:700px){

.movies{

grid-template-columns:1fr;
}

.searchContainer{

flex-direction:column;
}

.searchContainer input{

width:300px;
}

.hero h1{

font-size:50px;
}

.subtitle{

font-size:20px;
}

.movieModal{

width:90%;
}

}